[Unit]
Description=CaaLd - Container as a Login Shell Daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/caald
User=root
PIDFile=/run/caald.pid
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target